<h1> This is Show Page</h1>

<p>
  name: <%= @todo.name %>
</p>

<p>
  description: <%= @todo.description %>
</p>

<%= link_to "Edit todo", edit_todo_path(@todo) %> |
<%= link_to "Goto todos listing", todos_path %>

